%body.h-fullscreen.bg-img.p-70{"data-overlay" => "6", :style => "background-image: url(/assets/images/gallery/1.jpg)"}
  %br/
  %br/
  %br/
  %br/
  %br/
  %h2.text-uppercase.text-white.fs-50.d-none.d-md-block
    %span.fs-70.fw-900 Launching
    %br/
    %span very soon
    %span.text-primary.fs-70 .
  %h2.text-uppercase.text-white.fs-30.d-md-none
    %span.fs-50.fw-900 Launching
    %br/
    %span very soon
    %span.text-primary.fs-50 .
  %br/
  %br/
  %br/
  %br/
  %br/