.container
  .row
    .col-12
      %h1 Edit courier
  .row
    .col-12
      .card
        .card-body
          .form
            = render 'form'

-# = link_to 'Show', @courier
-# \|
-# = link_to 'Back', couriers_path
