@font-face{
    font-family:"FontAwesome";
    src:font-url('fontawesome-webfont.eot');
    src:font-url("fontawesome-webfont.eot") format('embedded-opentype'),font-url("fontawesome-webfont.woff2") format('woff2'),font-url("fontawesome-webfont.woff") format('woff'),font-url("fontawesome-webfont.ttf") format('truetype'),font-url("fontawesome-webfont.svg#fontawesomeregular") format('svg')
}
@font-face{
    font-family:"themify";
    src:font-url("themify.eot");
    src:font-url("themify.eot") format('embedded-opentype'),font-url("themify.woff") format('woff'),font-url("themify.ttf") format('truetype'),font-url("themify.svg") format('svg')
}
@font-face{
    font-family:"ionicons";
    src:font-url("ionicons.eot?v=2.0.0");
    src:font-url("ionicons.eot?v=2.0.0") format('embedded-opentype'),font-url("ionicons.woff?v=2.0.0") format('woff'),font-url("ionicons.ttf?v=2.0.0") format('truetype'),font-url("ionicons.svg?v=2.0.0") format('svg')
}

